# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/config.h
/config.log
/config.status
/config.sub
/config.guess
/libtool
/ltmain.sh
/test-driver
libtool.m4
ltoptions.m4
ltversion.m4
ltsugar.m4
lt~obsolete.m4
.deps
.libs
Makefile
Makefile.in
*.o
*.mod
*.lo
*.la
*~

# Specific build outputs

test-suite.log

/src/C/test_chealpix
/src/C/test_chealpix.log
/src/C/test_chealpix.trs
/src/C/test_output.fits


/src/cxx/Healpix_cxx/alm2map_cxx
/src/cxx/Healpix_cxx/anafast_cxx
/src/cxx/Healpix_cxx/calc_powspec
/src/cxx/Healpix_cxx/hotspots_cxx
/src/cxx/Healpix_cxx/hpxtest
/src/cxx/Healpix_cxx/map2tga
/src/cxx/Healpix_cxx/median_filter_cxx
/src/cxx/Healpix_cxx/mult_alm
/src/cxx/Healpix_cxx/rotalm_cxx
/src/cxx/Healpix_cxx/smoothing_cxx
/src/cxx/Healpix_cxx/syn_alm_cxx
/src/cxx/Healpix_cxx/udgrade_cxx
/src/cxx/Healpix_cxx/udgrade_harmonic_cxx
/src/cxx/alice/alice3

/src/cxx/Healpix_cxx/hpxtest.log
/src/cxx/Healpix_cxx/hpxtest.trs
/src/cxx/Healpix_cxx/test-suite.log
/src/cxx/test/runtest.sh.log
/src/cxx/test/runtest.sh.trs
/src/cxx/test/test-suite.log
/src/cxx/test/test.alm
/src/cxx/test/test.fits
/src/cxx/test/test.tga
/src/cxx/test/test2.alm
/src/cxx/test/test2.fits
/src/cxx/test/test2.tga
/src/cxx/test/test3.fits
/src/cxx/test/test3.tga
/src/cxx/test/test4.fits
/src/cxx/test/test4.tga
/src/cxx/test/test5.fits
/src/cxx/test/test5.tga
/src/cxx/test/test6.tga
/src/cxx/test/test7.fits
/src/cxx/test/test_alice1.tga
/src/cxx/test/test_alice2.tga
/src/cxx/test/test_alice3.tga
/src/cxx/test/test_alice3_background.fits
/src/cxx/test/test_alice3_mod_texture.fits
/src/cxx/test/test_alice3_texture.fits
/src/cxx/test/test_cl.fits

/src/f90/libhealpix/alm_map_ss_inc.F90
/src/f90/libhealpix/alm_map_dd_inc.F90
/src/f90/libhealpix/fits_s_inc.f90
/src/f90/libhealpix/fits_d_inc.f90
/src/f90/libhealpix/udgrade_s_inc.f90
/src/f90/libhealpix/udgrade_d_inc.f90
/src/f90/libhealpix-mpi/mpi_alm_tools_ss.f90
/src/f90/libhealpix-mpi/mpi_alm_tools_dd.f90

/src/f90/alteralm/alteralm
/src/f90/anafast/anafast
/src/f90/hotspot/hotspot
/src/f90/map2gif/map2gif
/src/f90/median_filter/median_filter
/src/f90/plmgen/plmgen
/src/f90/process_mask/process_mask
/src/f90/smoothing/smoothing
/src/f90/synfast/synfast
/src/f90/ud_grade/ud_grade
/src/f90/ngsims_full_sky/sky_ng_sim
/src/f90/ngsims_full_sky/sky_ng_sim_bin

/src/f90/test/runtest.sh.log
/src/f90/test/runtest.sh.trs
/src/f90/test/test-suite.log
/src/f90/test/test_LOres.fits
/src/f90/test/test_LOres.gif
/src/f90/test/test_alm.fits
/src/f90/test/test_almdec.fits
/src/f90/test/test_cl.fits
/src/f90/test/test_distmask.fits
/src/f90/test/test_distmask.gif
/src/f90/test/test_ext.fits
/src/f90/test/test_ext.gif
/src/f90/test/test_map.fits
/src/f90/test/test_map.gif
/src/f90/test/test_max.asc
/src/f90/test/test_mf.fits
/src/f90/test/test_mf.gif
/src/f90/test/test_min.asc
/src/f90/test/test_ngfs.fits
/src/f90/test/test_ngfs.gif
/src/f90/test/test_sm.fits
/src/f90/test/test_sm.gif

/src/idl/hidl
/src/idl/hidlde

/src/healpy/build/
/src/healpy/dist/
/src/healpy/healpy.egg-info/
/src/healpy/setup.cfg
/src/healpy/setup.py

